@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Macondo&family=Poppins:wght@200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://cdn.pixabay.com/photo/2023/12/29/12/12/ai-generated-8476091_1280.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
   
    animation: pulse 60s infinite;
}
@keyframes pulse {
    0% {
        background-image: url('https://cdn.pixabay.com/photo/2023/12/29/12/12/ai-generated-8476091_1280.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    25%{
        background-image: url('https://cdn.pixabay.com/photo/2017/04/13/13/45/owl-2227574_1280.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    50% {
        background-image: url('https://cdn.pixabay.com/photo/2020/11/13/16/51/white-walker-5739181_1280.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    75%{
        background-image: url('https://cdn.pixabay.com/photo/2021/08/27/12/18/forest-6578551_1280.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {
        background-image: url('https://cdn.pixabay.com/photo/2023/12/29/12/12/ai-generated-8476091_1280.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
  }

  #dropDown {
    width: 20vw;
    position: relative;
    margin-left: 2vw;
    margin-top: 10vh;
}

select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #F2D2BD;
    cursor: pointer;
}

#dropDown::before,
#dropDown::after{
    --size: 0.3rem;
    content: '';
    position: absolute;
    right: 1rem;
    pointer-events: none;
}
#dropDown::before{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid #F2D2BD;
    top: 40%;
}

#dropDown::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #F2D2BD;
    top: 55%;
}
p{
    color: #F2D2BD;
    font-size: larger;
    font-weight: 900;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Macondo', cursive;
}
h1{
    background: linear-gradient(to right, rgb(60, 65, 81, 0.3) 50%, rgb(242, 210, 189, 0.3) 50%);
    color: #F2D2BD;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 5vw;
}
h2{
    color: rgb(242, 210, 189, 0.8);
    padding-bottom: 2vh;
    font-weight: 900;
    font-family: 'Cinzel', serif;
}
#quotes{
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -10%);
    margin-top: 10vh;
    height: 30vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #F2D2BD;
    font-family: 'Cinzel', serif;
    overflow: auto;
      
}